header {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

header h1 {
    font-size: 21px !important;
    margin-bottom: 0 !important;
}

#sidebar h4::before{
    margin-left: 0px !important;
}

.inner {
    width: 1024px !important;
}


aside#sidebar {
    width: 260px !important;
}

#main-content {
    width: 714px !important;
}

#main-content br{   
    margin-bottom: 10px !important;
}

.hljs{
    background: none !important;
    padding:0px !important;
}

code, pre {
    margin-bottom: 0px !important;
}