header {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

header h1 {
    font-size: 21px !important;
    margin-bottom: 0 !important;
    width: auto !important;
}

#sidebar h4::before{
    margin-left: 0px !important;
}

.inner {
    width: 1024px !important;
}


aside#sidebar {
    width: 260px !important;
}

#main-content {
    width: 714px !important;
}

#main-content br{   
    margin-bottom: 10px !important;
}

.hljs{
    background: none !important;
    padding:0px !important;
}

code {
    margin-bottom: 0px !important;
}

pre{
    padding: 0 20px !important;
    margin-bottom: 10px !important;
}
p{
    margin: 10px 0px !important;
}

.tbl-left td{
    text-align: left !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}


.t30{
    padding-left: 20px;
}

div.t30 {
    padding-bottom: 10px;
}

.t60{
    padding-left: 60px;
}

td{
    padding-left: 5px !important;
    padding-right: 5px !important;
}