header {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

header h1 {
    font-size: 21px !important;
    margin-bottom: 0 !important;
}

#sidebar h4::before{
    margin-left: 0px !important;
}