<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
        <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
        <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    </head>

    <body>
        <header>
            <div class="inner">
                <a href="{{ '/' | absolute_url }}">
                    <h1>{{ site.title | default: site.github.repository_name }}</h1>
                </a>
                {% if site.github.is_user_page %}
                <a href="{{ site.github.repository_url }}" class="button"><small>Follow me on</small> GitHub</a>
                {% endif %}
            </div>
        </header>

        <div id="content-wrapper">
            <div class="inner clearfix">
                <section id="main-content">
                    {{ content }}
                </section>
                <aside id="sidebar">
                    <h4>Introduction to Dynamic Web Content</h4>
                    <ul>
                        <li><a href="">HTTP and HTML: Berners-Lee’s Basics</a></li>
                        <li><a href="">The Request/Response Procedure</a></li>
                        <li><a href="">The Benefits of PHP, MySQL, JavaScript, CSS, and HTML5</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using PHP</a></li>
                                <li><a href="">Using MySQL</a></li>
                                <li><a href="">Using JavaScript</a></li>
                                <li><a href="">Using CSS</a></li>
                            </ul>
                        </li>
                        <li><a href="">And Then There’s HTML5</a></li>
                        <li><a href="">The Apache Web Server</a></li>
                        <li><a href="">About Open Source</a></li>
                        <li><a href="">Bringing It All Together</a></li>
                    </ul>
                    <h4>Setting Up a Development Server</h4>
                    <ul>
                        <li><a href="">What Is a WAMP, MAMP, or LAMP?</a></li>
                        <li><a href="">Installing XAMPP on Windows</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Testing the Installation</a></li>
                            </ul>
                        </li>
                        <li><a href="">Installing XAMPP on Mac OS X</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Accessing the Document Root</a></li>
                            </ul>
                        </li>
                        <li><a href="">Installing a LAMP on Linux</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Working Remotely</a></li>
                                <li><a href="">Logging In</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using FTP</a></li>
                        <li><a href="">Using a Program Editor</a></li>
                        <li><a href="">Using an IDE</a></li>
                    </ul>
                    <h4>Introduction to PHP</h4>
                    <ul>
                        <li><a href="">Incorporating PHP Within HTML</a></li>
                        <li><a href="">This Book’s Examples</a></li>
                        <li><a href="">The Structure of PHP</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using Comments</a></li>
                                <li><a href="">Basic Syntax</a></li>
                                <li><a href="">Variables</a></li>
                                <li><a href="">Operators</a></li>
                                <li><a href="">Variable Assignment</a></li>
                                <li><a href="">Multiple-Line Commands</a></li>
                                <li><a href="">Variable Typing</a></li>
                                <li><a href="">Constants</a></li>
                                <li><a href="">Predefined Constants</a></li>
                                <li><a href="">The Difference Between the echo and print Commands</a></li>
                                <li><a href="">Functions</a></li>
                                <li><a href="">Variable Scope</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Expressions and Control Flow in PHP</h4>
                    <ul>
                        <li><a href="">Expressions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">TRUE or FALSE?</a></li>
                                <li><a href="">Literals and Variables</a></li>
                            </ul>
                        </li>
                        <li><a href="">Operators</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Operator Precedence</a></li>
                                <li><a href="">Associativity</a></li>
                                <li><a href="">Relational Operators</a></li>
                            </ul>
                        </li>
                        <li><a href="">Conditionals</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The if Statement</a></li>
                                <li><a href="">The else Statement</a></li>
                                <li><a href="">The elseif Statement</a></li>
                                <li><a href="">The switch Statement</a></li>
                                <li><a href="">The ? Operator</a></li>
                            </ul>
                        </li>
                        <li><a href="">Looping</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">while Loops</a></li>
                                <li><a href="">do...while Loops</a></li>
                                <li><a href="">for Loops</a></li>
                                <li><a href="">Breaking Out of a Loop</a></li>
                                <li><a href="">The continue Statement</a></li>
                            </ul>
                        </li>
                        <li><a href="">Implicit and Explicit Casting</a></li>
                        <li><a href="">PHP Dynamic Linking</a></li>
                        <li><a href="">Dynamic Linking in Action</a></li>
                    </ul>
                    <h4>PHP Functions and Objects</h4>
                    <ul>
                        <li><a href="">PHP Functions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Defining a Function</a></li>
                                <li><a href="">Returning a Value</a></li>
                                <li><a href="">Returning an Array</a></li>
                                <li><a href="">Do Not Pass Arguments by Reference</a></li>
                                <li><a href="">Returning Global Variables</a></li>
                                <li><a href="">Recap of Variable Scope</a></li>
                            </ul>
                        </li>
                        <li><a href="">Including and Requiring Files</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The include Statement</a></li>
                                <li><a href="">Using include_once</a></li>
                                <li><a href="">Using require and require_once</a></li>
                            </ul>
                        </li>
                        <li><a href="">PHP Version Compatibility</a></li>
                        <li><a href="">PHP Objects</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Terminology</a></li>
                                <li><a href="">Declaring a Class</a></li>
                                <li><a href="">Creating an Object</a></li>
                                <li><a href="">Accessing Objects</a></li>
                                <li><a href="">Cloning Objects</a></li>
                                <li><a href="">Constructors</a></li>
                                <li><a href="">PHP 5 Destructors</a></li>
                                <li><a href="">Writing Methods</a></li>
                                <li><a href="">Static Methods in PHP 5</a></li>
                                <li><a href="">Declaring Properties</a></li>
                                <li><a href="">Declaring Constants</a></li>
                                <li><a href="">Property and Method Scope in PHP 5</a></li>
                                <li><a href="">Static Properties and Methods</a></li>
                                <li><a href="">Inheritance</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>PHP Arrays</h4>
                    <ul>
                        <li><a href="">Basic Access</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Numerically Indexed Arrays</a></li>
                                <li><a href="">Associative Arrays</a></li>
                                <li><a href="">Assignment Using the array Keyword</a></li>
                            </ul>
                        </li>
                        <li><a href="">The foreach...as Loop</a></li>
                        <li><a href="">Multidimensional Arrays</a></li>
                        <li><a href="">Using Array Functions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">is_array</a></li>
                                <li><a href="">count</a></li>
                                <li><a href="">sort</a></li>
                                <li><a href="">shuffle</a></li>
                                <li><a href="">explode</a></li>
                                <li><a href="">extract</a></li>
                                <li><a href="">compact</a></li>
                                <li><a href="">reset</a></li>
                                <li><a href="">end</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Practical PHP</h4>
                    <ul>
                        <li><a href="">Using printf</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Precision Setting</a></li>
                                <li><a href="">String Padding</a></li>
                                <li><a href="">Using sprintf</a></li>
                            </ul>
                        </li>
                        <li><a href="">Date and Time Functions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Date Constants</a></li>
                                <li><a href="">Using checkdate</a></li>
                            </ul>
                        </li>
                        <li><a href="">File Handling</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Checking Whether a File Exists</a></li>
                                <li><a href="">Creating a File</a></li>
                                <li><a href="">Reading from Files</a></li>
                                <li><a href="">Copying Files</a></li>
                                <li><a href="">Moving a File</a></li>
                                <li><a href="">Deleting a File</a></li>
                                <li><a href="">Updating Files</a></li>
                                <li><a href="">Locking Files for Multiple Accesses</a></li>
                                <li><a href="">Reading an Entire File</a></li>
                                <li><a href="">Uploading Files</a></li>
                            </ul>
                        </li>
                        <li><a href="">System Calls</a></li>
                        <li><a href="">XHTML or HTML5?</a></li>
                    </ul>
                    <h4>Introduction to MySQL</h4>
                    <ul>
                        <li><a href="">MySQL Basics</a></li>
                        <li><a href="">Summary of Database Terms</a></li>
                        <li><a href="">Accessing MySQL via the Command Line</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Starting the Command-Line Interface</a></li>
                                <li><a href="">Using the Command-Line Interface</a></li>
                                <li><a href="">MySQL Commands</a></li>
                                <li><a href="">Data Types</a></li>
                            </ul>
                        </li>
                        <li><a href="">Indexes</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Creating an Index</a></li>
                                <li><a href="">Querying a MySQL Database</a></li>
                                <li><a href="">Joining Tables Together</a></li>
                                <li><a href="">Using Logical Operators</a></li>
                            </ul>
                        </li>
                        <li><a href="">MySQL Functions</a></li>
                        <li><a href="">Accessing MySQL via phpMyAdmin</a></li>
                    </ul>
                    <h4>Mastering MySQL</h4>
                    <ul>
                        <li><a href="">Database Design</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Primary Keys: The Keys to Relational Databases</a></li>
                            </ul>
                        </li>
                        <li><a href="">Normalization</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">First Normal Form</a></li>
                                <li><a href="">Second Normal Form</a></li>
                                <li><a href="">Third Normal Form</a></li>
                                <li><a href="">When Not to Use Normalization</a></li>
                            </ul>
                        </li>
                        <li><a href="">Relationships</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">One-to-One</a></li>
                                <li><a href="">One-to-Many</a></li>
                                <li><a href="">Many-to-Many</a></li>
                                <li><a href="">Databases and Anonymity</a></li>
                            </ul>
                        </li>
                        <li><a href="">Transactions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Transaction Storage Engines</a></li>
                                <li><a href="">Using BEGIN</a></li>
                                <li><a href="">Using COMMIT</a></li>
                                <li><a href="">Using ROLLBACK</a></li>
                            </ul>
                        </li>

                        <li><a href="">Using EXPLAIN</a></li>
                        <li><a href="">Backing Up and Restoring</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using mysqldump</a></li>
                                <li><a href="">Creating a Backup File</a></li>
                                <li><a href="">Restoring from a Backup File</a></li>
                                <li><a href="">Dumping Data in CSV Format</a></li>
                                <li><a href="">Planning Your Backups</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Accessing MySQL Using PHP</h4>
                    <ul>
                        <li><a href="">Querying a MySQL Database with PHP</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The Process</a></li>
                                <li><a href="">Creating a Login File</a></li>
                                <li><a href="">Connecting to a MySQL Database</a></li>
                            </ul>
                        </li>
                        <li><a href="">A Practical Example</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The $_POST Array</a></li>
                                <li><a href="">Deleting a Record</a></li>
                                <li><a href="">Displaying the Form</a></li>
                                <li><a href="">Querying the Database</a></li>
                                <li><a href="">Running the Program</a></li>
                            </ul>
                        </li>
                        <li><a href="">Practical MySQL</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Creating a Table</a></li>
                                <li><a href="">Describing a Table</a></li>
                                <li><a href="">Dropping a Table</a></li>
                                <li><a href="">Adding Data</a></li>
                                <li><a href="">Retrieving Data</a></li>
                                <li><a href="">Updating Data</a></li>
                                <li><a href="">Deleting Data</a></li>
                                <li><a href="">Using AUTO_INCREMENT</a></li>
                                <li><a href="">Performing Additional Queries</a></li>
                            </ul>
                        </li>
                        <li><a href="">Preventing Hacking Attempts</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Steps You Can Take</a></li>
                                <li><a href="">Using Placeholders</a></li>
                                <li><a href="">Preventing HTML Injection</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using mysqli Procedurally</a></li>
                    </ul>

                    <h4>Form Handling</h4>
                    <ul>
                        <li><a href="">Building Forms</a></li>
                        <li><a href="">Retrieving Submitted Data</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">register_globals: An Old Solution Hangs On</a></li>
                                <li><a href="">Default Values</a></li>
                                <li><a href="">Input Types</a></li>
                                <li><a href="">Sanitizing Input</a></li>
                            </ul>
                        </li>
                        <li><a href="">An Example Program</a></li>
                        <li><a href="">What’s New in HTML5?</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The autocomplete Attribute</a></li>
                                <li><a href="">The autofocus Attribute</a></li>
                                <li><a href="">The placeholder Attribute</a></li>
                                <li><a href="">The required Attribute</a></li>
                                <li><a href="">Override Attributes</a></li>
                                <li><a href="">The width and height Attributes</a></li>
                            </ul>
                        </li>
                        <li><a href="">Features Awaiting Full Implementation</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The form Attribute</a></li>
                                <li><a href="">The list Attribute</a></li>
                                <li><a href="">The min and max Attributes</a></li>
                                <li><a href="">The step Attribute</a></li>
                                <li><a href="">The color Input Type</a></li>
                                <li><a href="">The number and range Input Types</a></li>
                                <li><a href="">Date and Time Pickers</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h4>Cookies, Sessions, and Authentication</h4>
                    <ul>
                        <li><a href="">Using Cookies in PHP</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Setting a Cookie</a></li>
                                <li><a href="">Accessing a Cookie</a></li>
                                <li><a href="">Destroying a Cookie</a></li>
                            </ul>
                        </li>
                        <li><a href="">HTTP Authentication</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Storing Usernames and Passwords</a></li>
                                <li><a href="">Salting</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using Sessions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Starting a Session</a></li>
                                <li><a href="">Ending a Session</a></li>
                                <li><a href="">Setting a Time-Out</a></li>
                                <li><a href="">Session Security</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h4>Exploring JavaScript</h4>
                    <ul>
                        <li><a href="">JavaScript and HTML Text</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using Scripts Within a Document Head</a></li>
                                <li><a href="">Older and Nonstandard Browsers</a></li>
                                <li><a href="">Including JavaScript Files</a></li>
                                <li><a href="">Debugging JavaScript Errors</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using Comments</a></li>
                        <li><a href="">Semicolons</a></li>
                        <li><a href="">Variables</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">String Variables</a></li>
                                <li><a href="">Numeric Variables</a></li>
                                <li><a href="">Arrays</a></li>
                            </ul>
                        </li>
                        <li><a href="">Operators</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Arithmetic Operators</a></li>
                                <li><a href="">Assignment Operators</a></li>
                                <li><a href="">Comparison Operators</a></li>
                                <li><a href="">Logical Operators</a></li>
                                <li><a href="">Variable Incrementing and Decrementing</a></li>
                                <li><a href="">String Concatenation</a></li>
                                <li><a href="">Escaping Characters</a></li>
                            </ul>
                        </li>
                        <li><a href="">Variable Typing</a></li>
                        <li><a href="">Functions</a></li>
                        <li><a href="">Global Variables</a></li>
                        <li><a href="">Local Variables</a></li>
                        <li><a href="">The Document Object Model</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">But It’s Not That Simple</a></li>
                                <li><a href="">Using the DOM</a></li>
                            </ul>
                        </li>
                        <li><a href="">About document.write</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using console.log</a></li>
                                <li><a href="">Using alert</a></li>
                                <li><a href="">Writing into Elements</a></li>
                                <li><a href="">Using document.write</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Expressions and Control Flow in JavaScript</h4>
                    <ul>
                        <li><a href="">Expressions</a></li>
                        <li><a href="">Literals and Variables</a></li>
                        <li><a href="">Operators</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Operator Precedence</a></li>
                                <li><a href="">Associativity</a></li>
                                <li><a href="">Relational Operators</a></li>
                            </ul>
                        </li>
                        <li><a href="">The with Statement</a></li>
                        <li><a href="">Using onerror</a></li>
                        <li><a href="">Using try...catch</a></li>
                        <li><a href="">Conditionals</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The if Statement</a></li>
                                <li><a href="">The else Statement</a></li>
                                <li><a href="">The switch Statement</a></li>
                                <li><a href="">The ? Operator</a></li>
                            </ul>
                        </li>
                        <li><a href="">Looping</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">while Loops</a></li>
                                <li><a href="">do...while Loops</a></li>
                                <li><a href="">for Loops</a></li>
                                <li><a href="">Breaking Out of a Loop</a></li>
                                <li><a href="">The continue Statement</a></li>
                            </ul>
                        </li>
                        <li><a href="">Explicit Casting</a></li>
                    </ul>
                    <h4>JavaScript Functions, Objects, and Arrays</h4>
                    <ul>
                        <li><a href="">JavaScript Functions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Defining a Function</a></li>
                                <li><a href="">Returning a Value</a></li>
                                <li><a href="">Returning an Array</a></li>
                            </ul>
                        </li>
                        <li><a href="">JavaScript Objects</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Declaring a Class</a></li>
                                <li><a href="">Creating an Object</a></li>
                                <li><a href="">Accessing Objects</a></li>
                                <li><a href="">The prototype Keyword</a></li>
                            </ul>
                        </li>
                        <li><a href="">JavaScript Arrays</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Numeric Arrays</a></li>
                                <li><a href="">Associative Arrays</a></li>
                                <li><a href="">Multidimensional Arrays</a></li>
                                <li><a href="">Using Array Methods</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>JavaScript and PHP Validation and Error Handling</h4>
                    <ul>
                        <li><a href="">Validating User Input with JavaScript</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The validate.html Document (Part 1)</a></li>
                                <li><a href="">The validate.html Document (Part 2)</a></li>
                            </ul>
                        </li>
                        <li><a href="">Regular Expressions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Matching Through Metacharacters</a></li>
                                <li><a href="">Fuzzy Character Matching</a></li>
                                <li><a href="">Grouping Through Parentheses</a></li>
                                <li><a href="">Character Classes</a></li>
                                <li><a href="">Indicating a Range</a></li>
                                <li><a href="">Negation</a></li>
                                <li><a href="">Some More-Complicated Examples</a></li>
                                <li><a href="">Summary of Metacharacters</a></li>
                                <li><a href="">General Modifiers</a></li>
                                <li><a href="">Using Regular Expressions in JavaScript</a></li>
                                <li><a href="">Using Regular Expressions in PHP</a></li>
                            </ul>
                        </li>
                        <li><a href="">Redisplaying a Form After PHP Validation</a></li>
                    </ul>
                    <h4>Using Ajax</h4>
                    <ul>
                        <li><a href="">What Is Ajax?</a></li>
                        <li><a href="">Using XMLHttpRequest</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Your First Ajax Program</a></li>
                                <li><a href="">Using Get Instead of Post</a></li>
                                <li><a href="">Sending XML Requests</a></li>
                                <li><a href="">Using Frameworks for Ajax</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Introduction to CSS</h4>
                    <ul>
                        <li><a href="">Importing a Style Sheet</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Importing CSS from Within HTML</a></li>
                                <li><a href="">Embedded Style Settings</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using IDs</a></li>
                        <li><a href="">Using Classes</a></li>
                        <li><a href="">Using Semicolons</a></li>
                        <li><a href="">CSS Rules</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Multiple Assignments</a></li>
                                <li><a href="">Using Comments</a></li>
                            </ul>
                        </li>
                        <li><a href="">Style Types</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Default Styles</a></li>
                                <li><a href="">User Styles</a></li>
                                <li><a href="">External Style Sheets</a></li>
                                <li><a href="">Internal Styles</a></li>
                                <li><a href="">Inline Styles</a></li>
                            </ul>
                        </li>
                        <li><a href="">CSS Selectors</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The Type Selector</a></li>
                                <li><a href="">The Descendant Selector</a></li>
                                <li><a href="">The Child Selector</a></li>
                                <li><a href="">The ID Selector</a></li>
                                <li><a href="">The Class Selector</a></li>
                                <li><a href="">The Attribute Selector</a></li>
                                <li><a href="">The Universal Selector</a></li>
                                <li><a href="">Selecting by Group</a></li>
                            </ul>
                        </li>
                        <li><a href="">The CSS Cascade</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Style Sheet Creators</a></li>
                                <li><a href="">Style Sheet Methods</a></li>
                                <li><a href="">Style Sheet Selectors</a></li>
                                <li><a href="">Calculating Specificity</a></li>
                                <li><a href="">The Difference Between Div and Span Elements</a></li>
                            </ul>
                        </li>
                        <li><a href="">Measurements</a></li>
                        <li><a href="">Fonts and Typography</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">font-family</a></li>
                                <li><a href="">font-style</a></li>
                                <li><a href="">font-size</a></li>
                                <li><a href="">font-weight</a></li>
                            </ul>
                        </li>
                        <li><a href="">Managing Text Styles</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Decoration</a></li>
                                <li><a href="">Spacing</a></li>
                                <li><a href="">Alignment</a></li>
                                <li><a href="">Transformation</a></li>
                                <li><a href="">Indenting</a></li>
                            </ul>
                        </li>
                        <li><a href="">CSS Colors</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Short Color Strings</a></li>
                                <li><a href="">Gradients</a></li>
                            </ul>
                        </li>
                        <li><a href="">Positioning Elements</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Absolute Positioning</a></li>
                                <li><a href="">Relative Positioning</a></li>
                                <li><a href="">Fixed Positioning</a></li>
                            </ul>
                        </li>
                        <li><a href="">Pseudoclasses</a></li>
                        <li><a href="">Shorthand Rules</a></li>
                        <li><a href="">The Box Model and Layout</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Setting Margins</a></li>
                                <li><a href="">Applying Borders</a></li>
                                <li><a href="">Adjusting Padding</a></li>
                                <li><a href="">Object Contents</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Advanced CSS with CSS3</h4>
                    <ul>
                        <li><a href="">Attribute Selectors</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Matching Parts of Strings</a></li>
                            </ul>
                        </li>
                        <li><a href="">The box-sizing Property</a></li>
                        <li><a href="">CSS3 Backgrounds</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The background-clip Property</a></li>
                                <li><a href="">The background-origin Property</a></li>
                                <li><a href="">The background-size Property</a></li>
                                <li><a href="">Using the auto Value</a></li>
                            </ul>
                        </li>
                        <li><a href="">Multiple Backgrounds</a></li>
                        <li><a href="">CSS3 Borders</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The border-color Property</a></li>
                                <li><a href="">The border-radius Property</a></li>
                            </ul>
                        </li>
                        <li><a href="">Box Shadows</a></li>
                        <li><a href="">Element Overflow</a></li>
                        <li><a href="">Multicolumn Layout</a></li>
                        <li><a href="">Colors and Opacity</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">HSL Colors</a></li>
                                <li><a href="">HSLA Colors</a></li>
                                <li><a href="">RGB Colors</a></li>
                                <li><a href="">RGBA Colors</a></li>
                                <li><a href="">The opacity Property</a></li>
                            </ul>
                        </li>
                        <li><a href="">Text Effects</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The text-shadow Property</a></li>
                                <li><a href="">The text-overflow Property</a></li>
                                <li><a href="">The word-wrap Property</a></li>
                            </ul>
                        </li>
                        <li><a href="">Web Fonts</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Google Web Fonts</a></li>
                                <li><a href="">Transformations</a></li>
                            </ul>
                        </li>
                        <li><a href="">3D Transformations</a></li>
                        <li><a href="">Transitions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Properties to Transition</a></li>
                                <li><a href="">Transition Duration</a></li>
                                <li><a href="">Transition Delay</a></li>
                                <li><a href="">Transition Timing</a></li>
                                <li><a href="">Shorthand Syntax</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Accessing CSS from JavaScript</h4>
                    <ul>
                        <li><a href="">Revisiting the getElementById Function</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The O function</a></li>
                                <li><a href="">The S Function</a></li>
                                <li><a href="">The C Function</a></li>
                                <li><a href="">Including the Functions</a></li>
                            </ul>
                        </li>
                        <li><a href="">Accessing CSS Properties from JavaScript</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Some Common Properties</a></li>
                                <li><a href="">Other Properties</a></li>
                            </ul>
                        </li>
                        <li><a href="">Inline JavaScript</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The this Keyword</a></li>
                                <li><a href="">Attaching Events to Objects in a Script</a></li>
                                <li><a href="">Attaching to Other Events</a></li>
                            </ul>
                        </li>
                        <li><a href="">Adding New Elements</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Removing Elements</a></li>
                                <li><a href="">Alternatives to Adding and Removing Elements</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using Interrupts</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using setTimeout</a></li>
                                <li><a href="">Cancelling a Time-Out</a></li>
                                <li><a href="">Using setInterval</a></li>
                                <li><a href="">Using Interrupts for Animation</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Introduction to jQuery</h4>
                    <ul>
                        <li><a href="">Why jQuery?</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Including jQuery</a></li>
                                <li><a href="">Choosing the Right Version</a></li>
                                <li><a href="">Downloading</a></li>
                                <li><a href="">Using a Content Delivery Network</a></li>
                                <li><a href="">Always Using the Latest Version</a></li>
                                <li><a href="">Customizing jQuery</a></li>
                            </ul>
                        </li>
                        <li><a href="">jQuery Syntax</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">A Simple Example</a></li>
                                <li><a href="">Avoiding Library Conflict</a></li>
                            </ul>
                        </li>
                        <li><a href="">Selectors</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The css Method</a></li>
                                <li><a href="">The Element Selector</a></li>
                                <li><a href="">The ID Selector</a></li>
                                <li><a href="">The Class Selector</a></li>
                                <li><a href="">Combining Selectors</a></li>
                            </ul>
                        </li>
                        <li><a href="">Handling Events</a></li>
                        <li><a href="">Waiting Until the Document Is Ready</a></li>
                        <li><a href="">Event Functions and Properties</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The blur and focus Events</a></li>
                                <li><a href="">The this Keyword</a></li>
                                <li><a href="">The click and dblclick Events</a></li>
                                <li><a href="">The keypress Event</a></li>
                                <li><a href="">Considerate Programming</a></li>
                                <li><a href="">The mousemove Event</a></li>
                                <li><a href="">Other Mouse Events</a></li>
                                <li><a href="">Alternative Mouse Methods</a></li>
                                <li><a href="">The submit Event</a></li>
                            </ul>
                        </li>
                        <li><a href="">Special Effects</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Hiding and Showing</a></li>
                                <li><a href="">The toggle Method</a></li>
                                <li><a href="">Fading In and Out</a></li>
                                <li><a href="">Sliding Elements Up and Down</a></li>
                                <li><a href="">Animations</a></li>
                                <li><a href="">Stopping Animations</a></li>
                            </ul>
                        </li>
                        <li><a href="">Manipulating the DOM</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The Difference Between The text and html Methods</a></li>
                                <li><a href="">The val and attr Methods</a></li>
                                <li><a href="">Adding and Removing Elements</a></li>
                            </ul>
                        </li>
                        <li><a href="">Dynamically Applying Classes</a></li>
                        <li><a href="">Modifying Dimensions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The width and height Methods</a></li>
                                <li><a href="">The innerWidth and innerHeight Methods</a></li>
                                <li><a href="">The outerWidth and OuterHeight Methods</a></li>
                            </ul>
                        </li>
                        <li><a href="">DOM Traversal</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Parent Elements</a></li>
                                <li><a href="">Child Elements</a></li>
                                <li><a href="">Sibling Elements</a></li>
                                <li><a href="">Selecting the Next and Previous Elements</a></li>
                                <li><a href="">Traversing jQuery Selections</a></li>
                                <li><a href="">The is Method</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using jQuery Without Selectors</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The $.each Method</a></li>
                                <li><a href="">The $.map Method</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using Ajax</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using the Post Method</a></li>
                                <li><a href="">Using the Get Method</a></li>
                            </ul>
                        </li>
                        <li><a href="">Plug-Ins</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The jQuery User Interface</a></li>
                                <li><a href="">Other Plug-Ins</a></li>
                                <li><a href="">jQuery Mobile</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Introduction to HTML5</h4>
                    <ul>
                        <li><a href="">The Canvas</a></li>
                        <li><a href="">Geolocation</a></li>
                        <li><a href="">Audio and Video</a></li>
                        <li><a href="">Forms</a></li>
                        <li><a href="">Local Storage</a></li>
                        <li><a href="">Web Workers</a></li>
                        <li><a href="">Web Applications</a></li>
                        <li><a href="">Microdata</a></li>
                    </ul>
                    <h4>The HTML5 Canvas</h4>
                    <ul>
                        <li><a href="">Creating and Accessing a Canvas</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The toDataURL Function</a></li>
                                <li><a href="">Specifying an Image Type</a></li>
                                <li><a href="">The fillRect Method</a></li>
                                <li><a href="">The clearRect Method</a></li>
                                <li><a href="">The strokeRect Method</a></li>
                                <li><a href="">Combining These Commands</a></li>
                                <li><a href="">The createLinearGradient Method</a></li>
                                <li><a href="">The addColorStop Method in Detail</a></li>
                                <li><a href="">The createRadialGradient Method</a></li>
                                <li><a href="">Using Patterns for Fills</a></li>
                            </ul>
                        </li>
                        <li><a href="">Writing Text to the Canvas</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The strokeText Method</a></li>
                                <li><a href="">The textBaseLine Property</a></li>
                                <li><a href="">The font Property</a></li>
                                <li><a href="">The textAlign Property</a></li>
                                <li><a href="">The fillText Method</a></li>
                            </ul>
                        </li>
                        <li><a href="">The measureText Method</a></li>
                        <li><a href="">Drawing Lines</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The lineWidth Property</a></li>
                                <li><a href="">The lineCap and lineJoin Properties</a></li>
                                <li><a href="">The miterLimit Property</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using Paths</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The moveTo and LineTo Methods</a></li>
                                <li><a href="">The stroke Method</a></li>
                                <li><a href="">The rect Method</a></li>
                            </ul>
                        </li>
                        <li><a href="">Filling Areas</a></li>
                        <li><a href="">The clip Method</a></li>
                        <li><a href="">The isPointInPath Method</a></li>
                        <li><a href="">Working with Curves</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The arc Method</a></li>
                                <li><a href="">The arcTo Method</a></li>
                                <li><a href="">The quadraticCurveTo Method</a></li>
                                <li><a href="">The bezierCurveTo Method</a></li>
                            </ul>
                        </li>
                        <li><a href="">Manipulating Images</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The drawImage Method</a></li>
                                <li><a href="">Resizing an Image</a></li>
                                <li><a href="">Selecting an Image Area</a></li>
                                <li><a href="">Copying from a Canvas</a></li>
                                <li><a href="">Adding Shadows</a></li>
                            </ul>
                        </li>
                        <li><a href="">Editing at the Pixel Level</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The getImageData Method</a></li>
                                <li><a href="">The data Array</a></li>
                                <li><a href="">The putImageData Method</a></li>
                                <li><a href="">The createImageData Method</a></li>
                            </ul>
                        </li>
                        <li><a href="">Advanced Graphical Effects</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The globalCompositeOperation Property</a></li>
                                <li><a href="">The globalAlpha Property</a></li>
                            </ul>
                        </li>
                        <li><a href="">Transformations</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The scale Method</a></li>
                                <li><a href="">The save and restore Methods</a></li>
                                <li><a href="">The rotate Method</a></li>
                                <li><a href="">The translate Method</a></li>
                                <li><a href="">The transform Method</a></li>
                                <li><a href="">The setTransform Method</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>HTML5 Audio and Video</h4>
                    <ul>
                        <li><a href="">About Codecs</a></li>
                        <li><a href="">The &#x3C;audio&#x3E; Element</a></li>
                        <li><a href="">Supporting Non-HTML5 Browsers</a></li>
                        <li><a href="">The &#x3C;video&#x3E; Element</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The Video Codecs</a></li>
                                <li><a href="">Supporting Older Browsers</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Other HTML5 Features</h4>
                    <ul>
                        <li><a href="">Geolocation and the GPS Service</a></li>
                        <li><a href="">Other Location Methods</a></li>
                        <li><a href="">Geolocation and HTML5</a></li>
                        <li><a href="">Local Storage</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using Local Storage</a></li>
                                <li><a href="">The localStorage Object</a></li>
                            </ul>
                        </li>
                        <li><a href="">Web Workers</a></li>
                        <li><a href="">Offline Web Applications</a></li>
                        <li><a href="">Drag and Drop</a></li>
                        <li><a href="">Cross-Document Messaging</a></li>
                        <li><a href="">Microdata</a></li>
                        <li><a href="">Other HTML5 Tags</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        {% if site.google_analytics %}
        <script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
