<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
        <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
        <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    </head>

    <body>
        <header>
            <div class="inner">
                <a href="{{ '/' | absolute_url }}">
                    <h1>{{ site.title | default: site.github.repository_name }}</h1>
                </a>
                {% if site.github.is_user_page %}
                <a href="{{ site.github.repository_url }}" class="button"><small>Follow me on</small> GitHub</a>
                {% endif %}
            </div>
        </header>

        <div id="content-wrapper">
            <div class="inner clearfix">
                <section id="main-content">
                    {{ content }}
                </section>
                <aside id="sidebar">
                   <h4>Introduction to Dynamic Web Content</h4>
                   <ul>
                      <li><a href="">HTTP and HTML: Berners-Lee’s Basics</a></li>
                      <li><a href="">The Request/Response Procedure</a></li>
                      <li><a href="">The Benefits of PHP, MySQL, JavaScript, CSS, and HTML5</a>
                        <ul style="margin-bottom:0px">
                            <li><a href="">Using PHP</a></li>
                            <li><a href="">Using MySQL</a></li>
                            <li><a href="">Using JavaScript</a></li>
                            <li><a href="">Using CSS</a></li>
                        </ul>
                      </li>
                      <li><a href="">And Then There’s HTML5</a></li>
                      <li><a href="">The Apache Web Server</a></li>
                      <li><a href="">About Open Source</a></li>
                      <li><a href="">Bringing It All Together</a></li>
                   </ul>
                   <h4>Setting Up a Development Server</h4>
                   <ul>
                        <li><a href="">What Is a WAMP, MAMP, or LAMP?</a></li>
                        <li><a href="">Installing XAMPP on Windows</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Testing the Installation</a></li>
                            </ul>
                        </li>
                        <li><a href="">Installing XAMPP on Mac OS X</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Accessing the Document Root</a></li>
                            </ul>
                        </li>
                        <li><a href="">Installing a LAMP on Linux</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Working Remotely</a></li>
                                <li><a href="">Logging In</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using FTP</a></li>
                        <li><a href="">Using a Program Editor</a></li>
                        <li><a href="">Using an IDE</a></li>
                   </ul>
                   <h4>Introduction to PHP</h4>
                   <ul>
                        <li><a href="">Incorporating PHP Within HTML</a></li>
                        <li><a href="">This Book’s Examples</a></li>
                        <li><a href="">The Structure of PHP</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using Comments</a></li>
                                <li><a href="">Basic Syntax</a></li>
                                <li><a href="">Variables</a></li>
                                <li><a href="">Operators</a></li>
                                <li><a href="">Variable Assignment</a></li>
                                <li><a href="">Multiple-Line Commands</a></li>
                                <li><a href="">Variable Typing</a></li>
                                <li><a href="">Constants</a></li>
                                <li><a href="">Predefined Constants</a></li>
                                <li><a href="">The Difference Between the echo and print Commands</a></li>
                                <li><a href="">Functions</a></li>
                                <li><a href="">Variable Scope</a></li>
                            </ul>
                        </li>
                   </ul>
                   <h4>Expressions and Control Flow in PHP</h4>
                   <ul>
                        <li><a href="">Expressions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">TRUE or FALSE?</a></li>
                                <li><a href="">Literals and Variables</a></li>
                            </ul>
                        </li>
                        <li><a href="">Operators</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Operator Precedence</a></li>
                                <li><a href="">Associativity</a></li>
                                <li><a href="">Relational Operators</a></li>
                            </ul>
                        </li>
                        <li><a href="">Conditionals</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The if Statement</a></li>
                                <li><a href="">The else Statement</a></li>
                                <li><a href="">The elseif Statement</a></li>
                                <li><a href="">The switch Statement</a></li>
                                <li><a href="">The ? Operator</a></li>
                            </ul>
                        </li>
                        <li><a href="">Looping</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">while Loops</a></li>
                                <li><a href="">do...while Loops</a></li>
                                <li><a href="">for Loops</a></li>
                                <li><a href="">Breaking Out of a Loop</a></li>
                                <li><a href="">The continue Statement</a></li>
                            </ul>
                        </li>
                        <li><a href="">Implicit and Explicit Casting</a></li>
                        <li><a href="">PHP Dynamic Linking</a></li>
                        <li><a href="">Dynamic Linking in Action</a></li>
                   </ul>
                   <h4>PHP Functions and Objects</h4>
                   <ul>
                        <li><a href="">PHP Functions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Defining a Function</a></li>
                                <li><a href="">Returning a Value</a></li>
                                <li><a href="">Returning an Array</a></li>
                                <li><a href="">Do Not Pass Arguments by Reference</a></li>
                                <li><a href="">Returning Global Variables</a></li>
                                <li><a href="">Recap of Variable Scope</a></li>
                            </ul>
                        </li>
                        <li><a href="">Including and Requiring Files</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The include Statement</a></li>
                                <li><a href="">Using include_once</a></li>
                                <li><a href="">Using require and require_once</a></li>
                            </ul>
                        </li>
                        <li><a href="">PHP Version Compatibility</a></li>
                        <li><a href="">PHP Objects</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Terminology</a></li>
                                <li><a href="">Declaring a Class</a></li>
                                <li><a href="">Creating an Object</a></li>
                                <li><a href="">Accessing Objects</a></li>
                                <li><a href="">Cloning Objects</a></li>
                                <li><a href="">Constructors</a></li>
                                <li><a href="">PHP 5 Destructors</a></li>
                                <li><a href="">Writing Methods</a></li>
                                <li><a href="">Static Methods in PHP 5</a></li>
                                <li><a href="">Declaring Properties</a></li>
                                <li><a href="">Declaring Constants</a></li>
                                <li><a href="">Property and Method Scope in PHP 5</a></li>
                                <li><a href="">Static Properties and Methods</a></li>
                                <li><a href="">Inheritance</a></li>
                            </ul>
                        </li>
                   </ul>
                   <h4>PHP Arrays</h4>
                   <ul>
                        <li><a href="">Basic Access</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Numerically Indexed Arrays</a></li>
                                <li><a href="">Associative Arrays</a></li>
                                <li><a href="">Assignment Using the array Keyword</a></li>
                            </ul>
                        </li>
                        <li><a href="">The foreach...as Loop</a></li>
                        <li><a href="">Multidimensional Arrays</a></li>
                        <li><a href="">Using Array Functions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">is_array</a></li>
                                <li><a href="">count</a></li>
                                <li><a href="">sort</a></li>
                                <li><a href="">shuffle</a></li>
                                <li><a href="">explode</a></li>
                                <li><a href="">extract</a></li>
                                <li><a href="">compact</a></li>
                                <li><a href="">reset</a></li>
                                <li><a href="">end</a></li>
                            </ul>
                        </li>
                   </ul>
                   <h4>Practical PHP</h4>
                   <ul>
                        <li><a href="">Using printf</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Precision Setting</a></li>
                                <li><a href="">String Padding</a></li>
                                <li><a href="">Using sprintf</a></li>
                            </ul>
                        </li>
                        <li><a href="">Date and Time Functions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Date Constants</a></li>
                                <li><a href="">Using checkdate</a></li>
                            </ul>
                        </li>
                        <li><a href="">File Handling</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Checking Whether a File Exists</a></li>
                                <li><a href="">Creating a File</a></li>
                                <li><a href="">Reading from Files</a></li>
                                <li><a href="">Copying Files</a></li>
                                <li><a href="">Moving a File</a></li>
                                <li><a href="">Deleting a File</a></li>
                                <li><a href="">Updating Files</a></li>
                                <li><a href="">Locking Files for Multiple Accesses</a></li>
                                <li><a href="">Reading an Entire File</a></li>
                                <li><a href="">Uploading Files</a></li>
                            </ul>
                        </li>
                        <li><a href="">System Calls</a></li>
                        <li><a href="">XHTML or HTML5?</a></li>
                   </ul>
                   <h4>Introduction to MySQL</h4>
                   <ul>
                        <li><a href="">MySQL Basics</a></li>
                        <li><a href="">Summary of Database Terms</a></li>
                        <li><a href="">Accessing MySQL via the Command Line</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Starting the Command-Line Interface</a></li>
                                <li><a href="">Using the Command-Line Interface</a></li>
                                <li><a href="">MySQL Commands</a></li>
                                <li><a href="">Data Types</a></li>
                            </ul>
                        </li>
                        <li><a href="">Indexes</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Creating an Index</a></li>
                                <li><a href="">Querying a MySQL Database</a></li>
                                <li><a href="">Joining Tables Together</a></li>
                                <li><a href="">Using Logical Operators</a></li>
                            </ul>
                        </li>
                        <li><a href="">MySQL Functions</a></li>
                        <li><a href="">Accessing MySQL via phpMyAdmin</a></li>
                   </ul>
                   <h4>Mastering MySQL</h4>
                   <ul>
                        <li><a href="">Database Design</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Primary Keys: The Keys to Relational Databases</a></li>
                            </ul>
                        </li>
                        <li><a href="">Normalization</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">First Normal Form</a></li>
                                <li><a href="">Second Normal Form</a></li>
                                <li><a href="">Third Normal Form</a></li>
                                <li><a href="">When Not to Use Normalization</a></li>
                            </ul>
                        </li>
                        <li><a href="">Relationships</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">One-to-One</a></li>
                                <li><a href="">One-to-Many</a></li>
                                <li><a href="">Many-to-Many</a></li>
                                <li><a href="">Databases and Anonymity</a></li>
                            </ul>
                        </li>
                        <li><a href="">Transactions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Transaction Storage Engines</a></li>
                                <li><a href="">Using BEGIN</a></li>
                                <li><a href="">Using COMMIT</a></li>
                                <li><a href="">Using ROLLBACK</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="">Using EXPLAIN</a></li>
                        <li><a href="">Backing Up and Restoring</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Using mysqldump</a></li>
                                <li><a href="">Creating a Backup File</a></li>
                                <li><a href="">Restoring from a Backup File</a></li>
                                <li><a href="">Dumping Data in CSV Format</a></li>
                                <li><a href="">Planning Your Backups</a></li>
                            </ul>
                        </li>
                   </ul>
                   <h4>Accessing MySQL Using PHP</h4>
                   <ul>
                        <li><a href="">Querying a MySQL Database with PHP</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The Process</a></li>
                                <li><a href="">Creating a Login File</a></li>
                                <li><a href="">Connecting to a MySQL Database</a></li>
                            </ul>
                        </li>
                        <li><a href="">A Practical Example</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The $_POST Array</a></li>
                                <li><a href="">Deleting a Record</a></li>
                                <li><a href="">Displaying the Form</a></li>
                                <li><a href="">Querying the Database</a></li>
                                <li><a href="">Running the Program</a></li>
                            </ul>
                        </li>
                        <li><a href="">Practical MySQL</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Creating a Table</a></li>
                                <li><a href="">Describing a Table</a></li>
                                <li><a href="">Dropping a Table</a></li>
                                <li><a href="">Adding Data</a></li>
                                <li><a href="">Retrieving Data</a></li>
                                <li><a href="">Updating Data</a></li>
                                <li><a href="">Deleting Data</a></li>
                                <li><a href="">Using AUTO_INCREMENT</a></li>
                                <li><a href="">Performing Additional Queries</a></li>
                            </ul>
                        </li>
                        <li><a href="">Preventing Hacking Attempts</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Steps You Can Take</a></li>
                                <li><a href="">Using Placeholders</a></li>
                                <li><a href="">Preventing HTML Injection</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using mysqli Procedurally</a></li>
                   </ul>
                   
                   <h4>Form Handling</h4>
                   <ul>
                        <li><a href="">Building Forms</a></li>
                        <li><a href="">Retrieving Submitted Data</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">register_globals: An Old Solution Hangs On</a></li>
                                <li><a href="">Default Values</a></li>
                                <li><a href="">Input Types</a></li>
                                <li><a href="">Sanitizing Input</a></li>
                            </ul>
                        </li>
                        <li><a href="">An Example Program</a></li>
                        <li><a href="">What’s New in HTML5?</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The autocomplete Attribute</a></li>
                                <li><a href="">The autofocus Attribute</a></li>
                                <li><a href="">The placeholder Attribute</a></li>
                                <li><a href="">The required Attribute</a></li>
                                <li><a href="">Override Attributes</a></li>
                                <li><a href="">The width and height Attributes</a></li>
                            </ul>
                        </li>
                        <li><a href="">Features Awaiting Full Implementation</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">The form Attribute</a></li>
                                <li><a href="">The list Attribute</a></li>
                                <li><a href="">The min and max Attributes</a></li>
                                <li><a href="">The step Attribute</a></li>
                                <li><a href="">The color Input Type</a></li>
                                <li><a href="">The number and range Input Types</a></li>
                                <li><a href="">Date and Time Pickers</a></li>
                            </ul>
                        </li>
                   </ul>
                   
                   <h4>Cookies, Sessions, and Authentication</h4>
                   <ul>
                        <li><a href="">Using Cookies in PHP</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Setting a Cookie</a></li>
                                <li><a href="">Accessing a Cookie</a></li>
                                <li><a href="">Destroying a Cookie</a></li>
                            </ul>
                        </li>
                        <li><a href="">HTTP Authentication</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Storing Usernames and Passwords</a></li>
                                <li><a href="">Salting</a></li>
                            </ul>
                        </li>
                        <li><a href="">Using Sessions</a>
                            <ul style="margin-bottom:0px">
                                <li><a href="">Starting a Session</a></li>
                                <li><a href="">Ending a Session</a></li>
                                <li><a href="">Setting a Time-Out</a></li>
                                <li><a href="">Session Security</a></li>
                            </ul>
                        </li>
                   </ul>
                   
                   <h4>Meta</h4>
                   <ul>
                      <li class=""><a href="/docs/contributing/">Contributing</a></li>
                      <li class=""><a href="/docs/maintaining/">Maintaining Jekyll</a></li>
                      <li class=""><a href="/docs/conduct/">Code of Conduct</a></li>
                      <li class=""><a href="/docs/history/">History</a></li>
                   </ul>
                   
                   <h4>Meta</h4>
                   <ul>
                      <li class=""><a href="/docs/contributing/">Contributing</a></li>
                      <li class=""><a href="/docs/maintaining/">Maintaining Jekyll</a></li>
                      <li class=""><a href="/docs/conduct/">Code of Conduct</a></li>
                      <li class=""><a href="/docs/history/">History</a></li>
                   </ul>
                </aside>
            </div>
        </div>
        {% if site.google_analytics %}
        <script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
